.container-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #e0e0e0;
    width: 100%;
    height: 200px;
}
.drawerCart{
    padding: 16px;
}

.cart-details-totals{
    display: flex;
    justify-content: flex-end;
}

.cart-details-totals > .total{
    height: 30px;
    width: 100px;
    border: 2px solid
     #e0e0e0;   
}

.cartBody{
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.cartFooter{
    width: 100%;
    background: red;
    height: 160px;
    bottom: 0;
}