.details-product {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  h1{
    display: block;
    width: 100%;
    background: #A1D884;
    padding: 24px;
    color: white;
    font-size: 24px;
    font-weight: bold;

  }
  .headerSection{
    display: flex;
    justify-content: space-between;
    
  }
  .headerSection button{
    width: 208px;
    display: flex
;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-size: 24px;
    border-bottom: 2px solid #a1d884;
    box-sizing: border-box;
  }
  .product-card-container {
    flex: 1;
  }
  
  .product-details {
    flex: 1;
    margin-left: 20px;
  }
  
  .product-details table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-details th, .product-details td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-details th {
    background-color: #f2f2f2;
  }
  
  .add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  .add-to-cart-button:hover {
    background-color: #45a049;
  }
  